

@media (max-width: 768px) {
  /* Estilos para pantallas pequeñas */
  /* Aquí puedes ajustar tamaños de fuente, márgenes y otros estilos para pantallas móviles */
}


/* Aplicar la fuente Tajawal a todos los elementos */
body, h1, h2, h3, p, select, button {
  font-family: 'Tajawal', sans-serif;
}


/* Estilos generales para el cuerpo de la página */
body {
  font-family: 'Lato', Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #474747;
  font-weight: normal;
}

/* Encabezado de la página */
header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

/* Encabezados de sección */
h1, h2, h3 {
  margin: 1rem 0;
}

/* Sección de visitas */
#visitas-section {
  background-color: #fff;
  width: 50%;
  margin:  0 auto 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);;
  margin-bottom: 1rem; /* Aumenta el margen inferior a 1rem */
}

/* Select de visitas */
#visitaId {
  width: 100%;
  padding: 0.7rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-family: 'Tajawal', sans-serif;
  border: 1px solid #ccc; /* Agregar bordes suaves al listbox */
  border-radius: 10px;
  font-weight: normal; /* Establecer el tipo de letra como no negrita */
  font-family: Arial, sans-serif; /* Cambiar la fuente a Arial */
  font-weight: normal;
}

#visitaId option {
  background-color: #fff; /* Fondo blanco */
  color: #000; /* Texto negro */
  font-weight: normal; /* Fuente no negrita */
  font-family: 'Tajawal', sans-serif;

}


/* Detalles de visita */
#visita-details, .bordered-container {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: normal;
}


#visita-details h3{
  font-size: 1.25rem;
  margin-bottom: 10px; /* Ajusta el margen inferior del título "Detalles de la Visita" */
  margin-top: 0;
}

#visita-details p, .bordered-container {
  margin: 5px 0; /* Ajusta el margen superior e inferior de los párrafos */
}

/* Lista de hospedajes */
#hospedajesList {
  margin-top: 1rem;
  font-family: 'Tajawal', sans-serif;

}

/* Botón de asignar visita */
#asignarVisitaBtn {
  background-color: #007bff;
  color: #fff;
  padding: 0.8rem 1.6rem;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  margin-top: 2rem; /* Ajustar margen superior para separar del rectángulo de detalles */
  border-radius: 5px; /* Agregar bordes redondos al botón */
  font-family: 'Tajawal', sans-serif;
  font-weight: bold; /* Establecer el tipo de letra como no negrita */
}

/* Mensaje emergente */
.mensaje {
  display: none;
  padding: 0.5rem;
  margin-top: 1rem;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #76e476;
  border-radius: 10px;
  color: #ffffff;
  font-weight: normal;
}

/* Contenedor con borde para hospedadores disponibles */
.bordered-container {
  border: 1px solid #ccc; /* Agrega un borde suave alrededor del contenedor */
  border-radius: 10px; /* Para bordes redondos */
  margin-top: 1rem;
  padding: 1rem; /* Espaciado interno para separar hospedadores del borde */
  background-color: #f9f9f9; /* Fondo de color gris claro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
/* Estilos para el título "Hospedadores Disponibles" */
.bordered-container h3 {
  margin: 0; /* Elimina el margen superior del título */
  padding-bottom: 1rem; /* Espacio entre el título y la lista */
}


/* Estilos de las pestañas */
.tabs-container {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  max-width: 100%;
  margin: 1rem 0; /* Reduzco el margen superior e inferior a 1rem */
  height: calc(100vh - 10rem); /* Reduzco la altura máxima restando 2rem */
}

.tabs {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  width: 200px;
  max-height: 100%;
}

.tab {
  padding: 1rem;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  text-align: center;
  background-color: #d9d9d9;
  margin: 0;
  border-radius: 5px; /* Añade bordes redondos */
  margin-bottom: 5px; /* Separación entre botones de pestañas */
  font-family: 'Tajawal', sans-serif;
}

.tab-icon {
  margin-right: 10px; /* Espacio entre el ícono y el texto */
}

.tab-content {
  padding: 1rem;
  flex-grow: 1;
}

/* Estilo de pestaña activa */
.tab.active {
  background-color: #007bff;
  color: #fff;
}