/* Reset básico y estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Tajawal', sans-serif;
  background: #edf2f7;
  color: #333;
  line-height: 1.6;
}

header {
  background: #007bff;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  border-bottom: 5px solid #0056b3;
}

.main {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.tabs-container {
  text-align: center;
}

.tab {
  display: inline-block;
  background-color: #e2e6ea;
  margin: 0 10px;
  padding: 15px 30px; /* Aumento del padding para hacer el botón más grande */
  font-size: 18px; /* Aumento del tamaño de la fuente de los botones */
  font-weight: 500;
  color: #007bff;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.tab.active, .tab:hover {
  background-color: #0056b3;
  color: #fff;
  transform: scale(1.1); /* Aumento leve del efecto de escala para mayor realce */
}

.content-container {
  max-width: 800px;
  margin: 30px auto;
}

/* Estilos para los campos de formulario y botones dentro de content-container */
.content-container .listbox {
  width: 100%;
  padding: 15px; /* Disminución del padding para un tamaño más pequeño */
  margin: 10px 0; /* Ajuste del margen para más espacio entre elementos */
  border: 2px solid #0056b3;
  border-radius: 50px;
  background: #e2e6ea;
  color: #333;
  font-size: 16px; /* Disminución del tamaño de la fuente para el listbox */
}

.content-container .button {
  width: 100%;
  padding: 20px;
  margin: 20px 0 30px; /* Aumento del margen inferior para más espacio */
  border: none;
  border-radius: 50px;
  background-color: #28a745; /* Color verde para el botón 'Asignar Visita' */
  color: white;
  font-size: 20px; /* Aumento del tamaño de la fuente para mayor legibilidad */
  transition: background-color 0.3s, box-shadow 0.3s;
}

.content-container .button:hover {
  background-color: #218838;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Ajustes para los detalles de la visita y hospedajes disponibles */
#visita-details h3,
.bordered-container h3 {
  text-align: center; /* Alineación de texto centrada para los títulos */
  font-size: 24px; /* Tamaño de fuente existente */
  font-weight: bold; 
}
#visita-details p {
  font-size: 20px; /* Tamaño de la fuente para los párrafos */

}

.bordered-container div {
  font-size: 20px; /* Aumento del tamaño de la fuente para estas secciones */
}

.bordered-container {
  margin-top: 50px; /* Aumento del margen superior para la sección 'Hospedajes Disponibles' */
}

.content-container .mensaje {
  color: green;
  background-color: #bce7c6;
  padding: 10px;
  margin: 20px 0;
  border-radius: 50px;
  font-size: 16px;
  text-align: center;
}
#informacion-titulo h4 {
  font-size: 24px; /* Tamaño de fuente aumentado */
  font-weight: bold; /* Si también deseas que esté en negrita */
  text-align: center; /* Centrar si es necesario */
  /* Añade otros estilos como margin, padding, etc., si se requiere */
}

/* Aumentar el tamaño de la fuente del contenido de la tabla dentro de "Información de Visitas" */
#contentInformacion table {
  border-collapse: separate; /* Asegúrate de que las celdas se traten como separadas */
  border-spacing: 10px; /* Aumenta el espaciado entre celdas */
  margin-left: auto;
  margin-right: auto;
}

#contentInformacion th,
#contentInformacion td {
  font-size: 20px; /* Elige el tamaño de fuente que prefieras */
  padding: 5px;
}

/* ... resto del código ... */

/* Media queries para responsividad */
@media (max-width: 768px) {
  .main {
    width: 95%;
  }

  .content-container {
    width: 95%;
  }

  .tab {
    padding: 12px 25px; /* Ajuste del padding para botones más pequeños en pantallas más pequeñas */
    font-size: 16px; /* Ajuste del tamaño de la fuente para legibilidad en pantallas más pequeñas */
  }

  .content-container .listbox,
  .content-container .button {
    font-size: 18px; /* Ajuste del tamaño de la fuente en pantallas más pequeñas */
  } /* Aquí faltaba cerrar la llave */
}


